<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Контрольная работа - Саморуков </title>
</head>
<body>
    <h1>Вариант-4: Контрольная работа по дисциплине «Web-программирование ASP» для специальности «Вычислительная техника и программное обеспечение». Выполнил: Саморуков Михаил</h1>
    @Html.ActionLink("Task number 4", "Number4")//Description: 4. Даны 3 вещественных числа. Определить, образуют ли они возрастающую последовательность<br>
    @Html.ActionLink("Task number 9", "Number9")//Description: 9. Разработать web-страницу, отображающую текущее время в режиме постоянного обновления. Также динамически, посекундно, должен меняться цвет фона и цвет текста. <br>
    @Html.ActionLink("Task number 14", "Number14")//Description: 14. Напишите функцию, которая открыла бы окно с зеленым фоном и приветствием: «Привет, имя пользователя!» Имя пользователя можно узнать с помощью запроса. Допишите еще ссылку, которая закроет окно.<br>
    @Html.ActionLink("Task number 19", "Number19")//Description: 19. Напишите программу на JavaScript: конвертор валют. Предусмотреть не менее 4-х видов валют. Рядом с названием валюты должно выводится ее изображение. <br>
    @Html.ActionLink("Task number 24", "Number24")//Description: 24. Найти максимальное число из трёх. <br>
    @Html.ActionLink("Task number 29", "Number29")//Description: 29. Напишите программу, которая определяет, можно ли коробку размером   поместить в ящик размером .<br>
    @Html.ActionLink("Task number 34", "Number34")//Description: 34. Напишите программу, которая определяет по введенным значениям длин сторон квадрата и радиуса круга верно ли утверждение "Круг вписан в квадрат". Используйте логическую переменную.<br>
    @Html.ActionLink("Task number 39", "Number39")//Description: 39. Напишите программу, которая для заданных значений a и b находит все точки с целочисленными координатами, находящиеся внутри эллипса x2/a2 + y2/b2 ≤ R 2 и выводит их координаты.<br>
    @Html.ActionLink("Task number 44", "Number44")//Description: 44. Напишите программу нахождения текущего среднего. Числа x1, x2,… последовательно поступают на вход программы. Вычислите и напечатайте арифметическое среднее всех введенных чисел. В памяти хранится только текущее число.<br>
    @Html.ActionLink("Task number 49", "Number49")//Description: 49. Напишите программу, которая определяет, из круга какого наименьшего радиуса можно вырезать треугольник со сторонами a,b,c. Указание: пусть c – большая из сторон треугольника. Если угол C – тупой, сторона c совпадает с диаметром круга, в противном случае имеем описанную окружность с радиусом<br />
</body>
</html>